mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

mat-error span {
  margin-right: 20px;
}

button {
  margin: 5px 0;
}

mat-card {
  z-index: 1;
}
