<mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <button
        mat-button
        [color]="
          promo.promoType === PROMO_TYPE.MONEY
            ? 'accent'
            : promo.promoType === PROMO_TYPE.FREEBET
            ? 'primary'
            : 'warn'
        "
      >
        {{ promo.promoType }}
      </button>
    </mat-panel-title>
    <mat-panel-description>
      {{ "Configure consumer " + promo.promoType }}
      <mat-icon>
        <img mat-card-image [src]="promoImgPath" [alt]="promo.promoType"
      /></mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-form-field>
    <input
      matInput
      type="number"
      min="0"
      [placeholder]="promo.promoType + ' count'"
    />
  </mat-form-field>

  <div *ngIf="promo.promoType === PROMO_TYPE.MONEY" class="misc-bottom-padding">
    <mat-label>Currency:</mat-label>
    <mat-radio-group aria-label="Select an option" formControlName="Currency">
      <mat-radio-button value="GEL"> CURRENCY.GEL </mat-radio-button>
      <mat-radio-button value="USD"> CURRENCY.USD </mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-action-row>
    <button mat-button color="accent" (click)="onAddPromo(promo)">
      {{ "Configure " + promo.promoType }}
    </button>
    <button mat-button color="primary" (click)="nextStep()">Cancel</button>
  </mat-action-row>
</mat-expansion-panel>
