mat-form-field {
  margin-left: 20px;
  width: auto;
}

input {
  margin-right: 12px;
}

mat-action-row {
  padding: 4px 20px;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
}

.misc-bottom-padding {
  margin-left: 20px;
}
