<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="consumers.length > 0 && !isLoading">
  <ng-container *ngFor="let consumer of consumers">
    <app-consumer
      [consumer]="consumer"
      [userId]="userId"
      [userIsAuthenticated]="userIsAuthenticated"
      (emitConsumerId)="onDelete($event)"
    ></app-consumer>
  </ng-container>
</mat-accordion>
<mat-paginator
  [length]="totalConsumers"
  [pageSize]="consumersPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
  *ngIf="consumers.length > 0"
></mat-paginator>
<p class="info-text mat-body-1" *ngIf="consumers.length <= 0 && !isLoading">
  No Consumers added yet!
</p>
