<div class="card-wrapper">
  <ng-container *ngIf="!promotions?.length">
    <div class="card-wrapper__info">
      <h2>Promotions server side application not activated yet!</h2>

      <span>## How to run the project:</span>
      <span
        >1. Install [node.js](https://nodejs.org/en/download/) in your
        system.</span
      >
      <span
        >2. Install [mongoDB](https://www.mongodb.com/) in your system.</span
      >
      <span
        >3. Run mongoDB server by running the mongodb application file in the
        installed mongoDB directory.</span
      >
      <span
        >4. To start the application dependencies, open the terminal, go to the
        root folder of the application / repository and then type command
        **<strong>npm install</strong>**.</span
      >
      <span
        >5. To run application server, in the terminal, at the root folder of
        application,type command **<strong>npm run start:server</strong
        >**.</span
      >
      <span
        >6. If you are running application for the first time then you need some
        dummy promotions entered. For this purpose, you need to run **<strong
          >npm run save_basic_promotions</strong
        >**.</span
      >
      <span
        >7. Now to use the system, open any browser and visit
        http://localhost:4200/</span
      >
    </div>
  </ng-container>

  <ng-container *ngFor="let promo of promotions">
    <app-promo [promo]="promo"></app-promo>
  </ng-container>
</div>
