<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="signupForm" (ngSubmit)="onSignup()" *ngIf="!isLoading">
    <!-- email -->
    <mat-form-field>
      <input
        matInput
        name="email"
        type="email"
        placeholder="E-Mail"
        formControlName="email"
      />
      <!-- error -->
      <mat-error *ngIf="get('email').invalid && get('email').touched">
        <ng-container *ngFor="let errorMessage of errors('email')">
          <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
        </ng-container>
      </mat-error>
    </mat-form-field>

    <!-- password -->
    <mat-form-field>
      <input
        matInput
        name="password"
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <!-- error -->
      <mat-error *ngIf="get('password').invalid && get('password').touched">
        <ng-container *ngFor="let errorMessage of errors('password')">
          <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
        </ng-container>
      </mat-error>
    </mat-form-field>

    <!-- confirmPassword -->
    <mat-form-field>
      <input
        matInput
        name="confirmPassword"
        type="password"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
      />
      <!-- error -->
      <mat-error
        *ngIf="get('confirmPassword').invalid && get('confirmPassword').touched"
      >
        <ng-container *ngFor="let errorMessage of errors('confirmPassword')">
          <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
        </ng-container>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">
      Signup
    </button>
  </form>
</mat-card>
