<mat-sidenav-container>
  <mat-sidenav-content>
    <form [formGroup]="registerForm">
      <!-- First Name -->
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="First Name"
          type="text"
          name="firstName"
          formControlName="firstName"
        />
        <!-- error -->
        <mat-error *ngIf="get('firstName').invalid && get('firstName').touched">
          <ng-container *ngFor="let errorMessage of errors('firstName')">
            <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
          </ng-container>
        </mat-error>
      </mat-form-field>

      <!-- Last Name -->
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Last Name"
          type="text"
          name="lastName"
          formControlName="lastName"
        />
        <!-- error -->
        <mat-error *ngIf="get('lastName').invalid && get('lastName').touched">
          <ng-container *ngFor="let errorMessage of errors('lastName')">
            <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
          </ng-container>
        </mat-error>
      </mat-form-field>

      <!-- Gender -->
      <div class="misc-bottom-padding">
        <mat-label>Gender:</mat-label>
        <mat-radio-group aria-label="Select an option" formControlName="gender">
          <mat-radio-button value="male">Male</mat-radio-button>
          <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
        <!-- error -->
        <!-- ToDo: Delete or make valid error -->
        <!-- <mat-error *ngIf="get('gender').invalid && get('gender').touched">
          <ng-container *ngFor="let errorMessage of errors('gender')">
            <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
          </ng-container>
        </mat-error> -->
      </div>

      <!-- Personal Id Number -->
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Personal Id Number"
          name="personalNumber"
          formControlName="personalNumber"
        />
        <!-- error -->
        <mat-error
          *ngIf="get('personalNumber').invalid && get('personalNumber').touched"
        >
          <ng-container *ngFor="let errorMessage of errors('personalNumber')">
            <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
          </ng-container>
        </mat-error>
      </mat-form-field>

      <!-- Phone -->
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Phone"
          type="tel"
          name="phone"
          formControlName="phone"
        />
        <!-- error -->
        <mat-error *ngIf="get('phone').invalid && get('phone').touched">
          <ng-container *ngFor="let errorMessage of errors('phone')">
            <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
          </ng-container>
        </mat-error>
      </mat-form-field>

      <!-- Address -->
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Address"
          type="text"
          name="address"
          formControlName="address"
        />
        <!-- error -->
        <mat-error *ngIf="get('address').invalid && get('address').touched">
          <ng-container *ngFor="let errorMessage of errors('address')">
            <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
          </ng-container>
        </mat-error>
      </mat-form-field>

      <!-- Country -->
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Country"
          type="text"
          name="country"
          formControlName="country"
        />
        <!-- error -->
        <mat-error *ngIf="get('country').invalid && get('country').touched">
          <ng-container *ngFor="let errorMessage of errors('country')">
            <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
          </ng-container>
        </mat-error>
      </mat-form-field>

      <!-- City -->
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="City"
          type="text"
          name="city"
          formControlName="city"
        />
        <!-- error -->
        <mat-error *ngIf="get('city').invalid && get('city').touched">
          <ng-container *ngFor="let errorMessage of errors('city')">
            <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
          </ng-container>
        </mat-error>
      </mat-form-field>

      <!-- Email -->
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Email"
          type="email"
          name="email"
          formControlName="email"
        />
        <!-- error -->
        <mat-error *ngIf="get('email').invalid && get('email').touched">
          <ng-container *ngFor="let errorMessage of errors('email')">
            <span *ngIf="errorMessage !== true">{{ errorMessage }}</span>
          </ng-container>
        </mat-error>
      </mat-form-field>

      <!-- Image -->
      <mat-form-field class="example-full-width">
        <div class="example-flex-container">
          <img
            *ngIf="selectedFile?.src"
            width="100px"
            height="100px"
            class="panel-img"
            [src]="selectedFile?.src || BASE_URL + registrationForm?.imagePath"
            [alt]="registrationForm?.imagePath"
          />
          <div class="example-button-container">
            <button
              *ngIf="selectedFile?.src"
              mat-fab
              color="primary"
              aria-label="Example icon button with a delete icon"
              (click)="selectedFile = null"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <input
          *ngIf="!selectedFile?.src"
          matInput
          [value]="
            selectedFile?.src ? registrationForm?.imagePath : 'Select Images'
          "
        />
        <input
          *ngIf="!selectedFile?.src"
          #imageInput
          type="file"
          accept="image/*"
          name="files"
          placeholder="Image"
          formControlName="files"
          (change)="processFile(imageInput)"
        />
      </mat-form-field>

      <!-- Submit -->
      <div class="button-wrapper">
        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!registerForm.valid"
          (click)="onUpdate()"
        >
          {{ curRegister ? ("Update" | translate) : ("Register" | translate) }}
        </button>
      </div>
    </form>
  </mat-sidenav-content>
</mat-sidenav-container>
