mat-panel-description {
  margin: 20px 0;
}

.description-card {
  margin-left: 20px;
  width: 100%;
}

.info-text {
  text-align: center;
}

.consumer-image {
}

.consumer-image img {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.example-card {
  display: flex;
}

.mat-action-row {
  padding: 4px 24px;
}
